body {
  margin: 0;
  font-family: TrajanusBricks;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TrajanusBricks";
  src: local("TrajanusBricks"),
    url(./fonts/TrajanusBricks.ttf) format("truetype");
}
